<div class="container">

  <h1 class="text-center">Book an Appointment</h1>
  <h4 class="text-center">Our Investing Topics</h4>
  <h3 class="text-center">Pick a topic, then we'll find a time and place</h3>
  <table style="width:100%">
    <tr *ngFor="#item of [1,2,3]">
      <td>
        <button>{{item}}</button>
        <span>TEST</span>
      </td>
      <td>
        <button>{{item+1}}</button>
        <span>TEST</span>
      </td>
    </tr>
  </table>

  <!-- <table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>Age</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td> 
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td> 
      <td>94</td>
    </tr>
  </table> -->
    
</div>

